*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
} 

.wrapper{
    width: 1280px;
    height: auto;
}
/*NAV*/
nav{
    width: 100%;
    height: 100px;
    background: #1D0F0F;
    display: flex;
    align-items: center;
    padding: 0 99px 0 85px;
}
    img{
        width: 100px;
        height: 100px;
        margin-left: 10px;
    }
    #menu_toggle{
        opacity: 0;
    }
    .menu_btn{
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu_btn > span,
    .menu_btn > span::before,
    .menu_btn > span::after{
        display: block;
        position: absolute;
        width: 30px;
        height: 3px;
        background: white;
    }
    .menu_btn > span::before{
        content: '';
        top: -8px;
    }
    .menu_btn > span::after{
        content: '';
        top: 8px;
    }
    .menu__box{
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100px;
        width: 300px;
        height: 380px;
        margin: 0;
        border-radius: 15px;
        padding: 50px 0 0 60px;
        list-style: none;
        text-align: left;
        background-color: #fff;
        box-shadow: 1px 0px 6px rgba(0,0,0, .2);
    }
    nav > a,p{
        text-decoration: none;
        font-size: 19px;
        font-family: 'Kyiv*Type Titling';
        color: #fff;
        font-weight: 200;
        margin: 20px;
    }
        .menu__box li{
        margin:20px 0;
    }

    .menu__box a{
        text-decoration:none;
        color:#1D0F0F;
        font-size:22px;
    }
    #menu_toggle:checked + .menu_btn > span{
        transform: rotate(45deg);
    }

    #menu_toggle:checked + .menu_btn > span::before{
        top: 0;
    }

    #menu_toggle:checked + .menu_btn > span::after{
        top: 0;
        transform: rotate(90deg);
    }

    #menu_toggle:checked ~ .menu__box{
        left: 0;
        visibility: visible;
    }

    .menu_btn > span, .menu_btn > span::before, .menu_btn>span::after{
        transition-duration: .25s;
    }
    .menu__box{
        transition-duration: .25s;
    }
    a{
        transition-duration: .25s;
    }
    #menu_toggle:checked + .menu_btn > span,
    #menu_toggle:checked + .menu_btn > span::before,
    #menu_toggle:checked + .menu_btn > span::after{
        background: #1D0F0F; /* или #680003 */
    }
/*HEADER*/
header{
    width: 100%;
    height: 544px;
    background-image: url(../cafe/img/header.png);
    background-size: 100%;
}

/*ASIDE*/
aside{
    width: 100%;
    height: 600px;
    background: #fff;
    padding: 96px 70px 96px 71px;
}
.swiper{
    width: 900px;
    height: 280px;
    margin-top: 30px;
    z-index: 1;
}
    h1{
        font-family: 'Kyiv*Type Titling';
        font-size: 40px;
        color: #680003;
        font-weight: bold;
        text-align: center;
    }
    .swiper-wrapper{
        width: 800px;
        /* display: grid;
        justify-content:space-around;
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: repeat(2, 120px); */
    }
        .swiper-slide{
            width: 2px;
            height: 120px;
            background: #2D1717;
            border-radius: 15px;
            padding: 25px 30px 25px 30px;
        }
        .swiper_text > img{
            width: 70px;
            height: 70px;
        }
        .swiper_text{
            width: 200px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        #di{
            width: 60px;
            height: 60px;
            margin-top: 10px;
        }
        #cook{
            width: 80px;
            height: 80px;
        }
        #ekler{
            width: 75px;
            height: 75px;
            margin-top: 10px;
        }
        .swiper_text > p{
            font-weight: 600;
            padding-top: 10px;
        }
        #hotdog{
            width: 60px;
            height: 60px;
        }
    .swiper > img{
        width: 70px;
        height: 70px;
        position: relative;
        bottom: 180px;
    }
    .swiper-button-prev{
        z-index: 2;
        margin-right:100px;
    }

/*SECTION*/
section{
    width: 100%;
    height: 500px;
    background-image: url(../cafe/img/section.png);
    padding: 94px 211px 142px 60px;
}
    section > h1{
        color: #fff;
        padding-left: 100px;
    }
    .section_text{
        width: 1009px;
        height: 111px;
        display: grid;
        grid-template-columns: 450px  542px;
        grid-template-rows: 1px;
        margin-top: 93px;
    }
    .section_text > h1{
        font-size: 28px;
        color: #fff;
    }
    .section_text h1:nth-of-type(1){
        padding-right: 248px;
    }
    .section_text > p{
        width: 416px;
        padding-top: 29px;
        font-weight: 300;
        padding-right: 0px;
        font-size: 20px;
        grid-column: 1;
    }
    form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 120px;
        left: 420px;
    }
    input, button{
        grid-column: 2;
        grid-row: 1;
        margin-top: 59px;
        border:  none;
        height: 40px;
    }
    input{
        width: 290px;
        padding: 12px 0 12px 15px;
        
    }
    ::placeholder{
        font-family: 'Kyiv*Type Titling';
        color: #474747;
        font-size: 15px;
    }
    button{
        width: 47px;
        background: #680003;
    }
        button > img{
            width: 18px;
            height: 18px;
            margin-top: 5px;
            margin-right: 10px;
        }

/*MAIN*/
main{
    width: 100%;
    height: 734px;
    background: #fff;
    padding: 70px 114px 50px 114px;
}
    main > h1{
        font-size: 28px;
        color: #000;
        font-weight: 400;
    }
    main > img{
        width: 998px;
        height: 496px;
        margin-top: 50px;
    }

/*FOOTER*/
footer{
    width: 100%;
    height: 300px;
    background: #1D0F0F;
    padding: 50px 152px 92px 151px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 80px 80px;
    align-items: center;
    justify-content: center;
}
    footer > p,a{
        text-decoration: none;
        font-family: 'Kyiv*Type Titling';
        color: #fff;
        margin: 20px;
        font-size: 20px;
        font-weight: 300;
    }

    footer > a:nth-of-type(1){
        grid-column: 2/2;
    }
    footer > a:nth-of-type(2){
        grid-column: 2/3;
    }
    footer > a:nth-of-type(3){
        grid-column: 2/4;
    }

    footer > img:nth-of-type(1){
        width: 28px;
        height: 28px;
        grid-column: 3/4; 
        grid-row: 1/1; 
    }
    .call{
        grid-row: 1/1;
        grid-column: 3/4;
        padding-left: 44px;
    }
    .email{
        grid-column: 3/4;
        grid-row: 4/2;
        padding-left: 44px;
    }
    footer > img:nth-of-type(2){
        width: 33px;
        height: 33px;
        grid-column: 3/4; 
        grid-row: 4/2; 
    }

.hamburger-menu{
    display:none;
}



/*MEDIA*/
@media screen and (max-width: 767px) {
    .wrapper{
        width: 100%;
        margin:  0 auto;
    }
    /*NAV*/
    nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    nav > img{
        width: 80px;
        height: 80px;
    }
    .menu_btn{
        top: 35px;
        left: 40px;
    }
    .nav_menu{
        display:none;
    }

    .hamburger-menu{
        display:block;
    }
    .nav_menu{
        display: none;
    }
    header{
        width: 100%;
        height: 200px;
        background-size: 100% 100%;
    }

    /*ASIDE*/
    aside{
        height: 500px;
        padding: 66px 70px 96px 71px;
    }
    h1{
        font-size: 25px;
    }
    .swiper{
        width: 300px;
        height: 280px;
        margin-top: 30px;
    }
        .swiper_text > img{
            width: 60px;
            height: 60px;
        }
        .swiper_text{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        #di{
            width: 50px;
            height: 50px;
            margin-top: 10px;
        }
        #cook{
            width: 60px;
            height: 60px;
        }
        #ekler{
            width: 65px;
            height: 65px;
            margin-top: 10px;
        }
        .swiper_text > p{
            font-size: 17px;
            padding-top: 10px;

        }
        #hotdog{
            width: 60px;
            height: 60px;
        }
    /*SECTION*/
    section{
        width: 100%;
        height: 390px;
        background-image: url(../cafe/img/section.png);
        padding: 34px 211px 142px 60px;
        background-size: 100% 100%;
    }
    section > h1{
        font-size: 25px;
    }
    .section_text{
        width: auto;
        height: 0;
        display: grid;
        grid-template-columns: 330px;
        grid-template-rows: 100px 100px ;
        margin-top: 55px;
    }
    .section_text > h1{
        font-size: 20px;
        grid-column: 1/2;
        grid-row: 1/2;
        color: #fff;
    }
    .section_text h1:nth-of-type(1){
        padding-left: 0;
    }
    .section_text h1:nth-of-type(2){
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: left;
        padding-left: 20px;
    }
    .section_text > p{
        width: 316px;
        padding-top: 20px;
        padding-right: 0px;
        font-size: 15px;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 90px;
        left: 0px;
    }
    input, button{
        grid-column: 2;
        grid-row: 1;
        margin-top: 59px;
        border:  none;
        height: 40px;
    }
    input{
        width: 250px;
        padding: 12px 0 12px 15px;
        
    }
        button > img{
            width: 17px;
            height: 17px;
            margin-top: 5px;
            margin-right: 10px;
        }
    /*MAIN*/
    main{
        width: 90%;
        height: 580px;
        padding: 70px 0 70px 0;
    }
        main > h1{
            width: 300px;
            font-size: 25px;
        }
        main > img{
            width: 88%;
            height: 230px;
            margin-top: 50px;
            margin-left: 40px;
        }

/*FOOTER*/
footer{
    width: 100%;
    height: 400px;
    padding: 40px 20px 0 0;
    display: grid;
    grid-template-columns: 350px 0 0;
    grid-template-rows: 50px 50px 50px 50px 50px 50px ;
    align-items: center;
    justify-content: center;
}
    footer > p,a{
        text-decoration: none;
        font-family: 'Kyiv*Type Titling';
        color: #fff;
        margin: 20px;
        font-size: 18px;
        font-weight: 300;
    }

    footer > a:nth-of-type(1){
        grid-column: 1/2;
    }
    footer > a:nth-of-type(2){
        grid-column: 1/2;
    }
    footer > a:nth-of-type(3){
        grid-column: 1/2;
    }

    footer > img:nth-of-type(1){
        width: 25px;
        height: 25px;
        margin-left: 25px;
        grid-column: 1/2;
        grid-row: 5/6; 
    }
    .call{
        grid-column: 1/2;
        grid-row: 5/6; 
        padding-left: 44px;
    }
    .email{
        grid-column: 1/2;
        grid-row: 6/7; 
        padding-left: 44px;
    }
    footer > img:nth-of-type(2){
        width: 28px;
        height: 28px;
        grid-column: 1/2;
        grid-row: 6/7;
        margin-left: 25px;
    }
}
